@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Libre+Franklin:ital,wght@0,400;0,700;1,400;1,700&family=Overpass+Mono:wght@700&display=swap');

:root {
  // Base colour
  --vividCyan: #20FFF1;

  // Shades
  --darkCyan: #118078;
  --veryDarkCyan: #08403c;

  // Triad
  --strongCyan: #05b3a7;
  --lightMagenta: #FF3BE2;
  --vividYellow: #FFD108;
  --strongYellow: #b3940e;

  // Compound
  --strongBlue: #0670cc;
  --darkModBlue: #517899;
  --lightRed: #FF7F61;
  --strongRed: #cc0f06;

  --mainBlack: #020c27;

  --text-divider-gap: 1rem;
}

body {
  font-family: 'Libre Franklin', sans-serif;
}

h1 {
  font-family: 'Cinzel Decorative', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Overpass Mono', monospace;
  color: var(--mainBlack);
}

header {
  h1 {
    color: var(--veryDarkCyan);
    text-shadow: 1px 1px 0px var(--vividCyan),
      2px 2px 0px var(--vividYellow),
      3px 3px 0px var(--lightRed),
      4px 4px 0px var(--lightMagenta),
      5px 5px 0px var(--strongYellow);
  }
}

.text-divider {
  &-holder {
    &::before,
    &::after {
      content: "";
      height: 2px;
      background-color: var(--strongYellow);
      flex-grow: 1;
    }

    &::before {
      margin-right: var(--text-divider-gap);
    }

    &::after {
      margin-left: var(--text-divider-gap);
    }

    @media screen and (max-width: 599px) {
      padding: 0 16px;
    }

    >span {
      color: var(--mainBlack);
    }
  }
}

footer {
  color: #fff;
  background-color: var(--darkModBlue);
}
