@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Libre+Franklin:ital,wght@0,400;0,700;1,400;1,700&family=Overpass+Mono:wght@700&display=swap');

body {
  font-family: 'Libre Franklin', sans-serif;
}

h1 {
  font-family: 'Cinzel Decorative', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Overpass Mono', monospace;
}
